.backgroundGinny {
  background-size: cover;
  width: 100%;
  height: auto;
  background-image: url("papierpeint3.jpg");
  top: 0;
  left: 0;
}
.ginnyZoom {
  margin: 0;
}

.defisGinny {
  background-color: rgb(157, 141, 33);
  margin: 2% 8% 0 8%;
  padding: 5px 40px;
  text-align: center;
  border-radius: 70px;
  font-size: 25px;
  font-family: "Gill Sans", sans-serif;
  color: white;
  
}
.ginnyTitle {
  font-family: "Gill Sans", sans-serif;
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 200%;
}
.articles {
  display: flex;
  margin: 2% 2% 2% 2%;
  align-items: left;
  justify-content: space-between;
  text-align: left;
}
.messagesRobots {
  text-align: left;
}
.messageGinny {
  margin-top: 4%;
  margin-left: 6%;
}
.defisGinny > button {
    color: #000000;
    border-radius: 10px;
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 10px;
    border: 4px #cccccc;
    align-items: center;
    text-align: center;
    font-size: 200%;
    transition: all 0.5s;
    cursor: pointer;
  }
  .defisGinny > button:hover {
    background-color: #000000;
    color: rgb(255, 255, 255);
  
  }
.photosVlog {
  border-radius: 5%;
}
@media screen and (max-width: 414px) {
  .defisGinny {
    font-size: 17px;
    margin-top: 8%;
  }
  .percyGinny {
    font-size: 150%;
  }

  .messagesRobots {
    margin: 0% 8% 0 8%;
    font-size: 17px;
    color: white;
    /* padding: 0%; */
  }
  .figure,
  .vlog,
  .articles {
    margin: 0;
    padding: 0;
  }

  .defisGinny > button {
    font-size: 140%;
  }
  .messagesLecteurs{
    font-size: 17px;
  }

}
