.backgroundGinny {
  background-size: cover;
  width: 100%;
  height: auto;
  background-image: url("papierpeint3.jpg");
  top: 0;
  left: 0;
}
.ginnyZoom {
  margin: 0;
}

.defisGinny {
  background-color: rgb(157, 141, 33);
  margin: 2% 8% 0 8%;
  padding: 5px 40px;
  text-align: justify;
  border-radius: 70px;
  font-size: 25px;
  font-family: "Gill Sans", sans-serif;
  color: white;
}
.ginnyTitle {
  font-family: "Gill Sans", sans-serif;
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 200%;
}
.articles {
  display: flex;
  margin: 2% 2% 2% 2%;
  align-items: left;
  justify-content: space-between;
  text-align: left;
}
.messagesRobots {
  text-align: left;
}
.messageGinny {
  margin-top: 4%;
  margin-left: 6%;
}

.photosVlog {
  border-radius: 5%;
}

input[type = checkbox] {
  display: none;
}

input + label {
  font-size: 1.2rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: .1rem solid var(--blue);
  border-radius: 50%;
  background: var(--darkblue);
  transition: .1s all;
  cursor: pointer;
  z-index: 999 !important;
}

input + label:hover {
  transform: scale(.95);
}

input + label:after {
  content: "🤜";
}

input:checked + label {
  background: var(--blue);
  transform: scale(1.1);
}

input:checked + label:hover {
  background: var(--blue);
  transform: scale(1.05);
}

input:checked + label:after {
  content: "👍";
}
@media screen and (max-width: 414px) {
  .defisGinny {
    font-size: 18px;
    margin-top: 8%;
  }
  .percyGinny {
    font-size: 150%;
  }

  .messagesRobots {
    margin: 0% 8% 0 8%;
    font-size: 18px;
    color: white;
    /* padding: 0%; */
  }
  .figure,
  .vlog,
  .articles {
    margin: 0;
    padding: 0;
  }
}
