.lesDefis{
    color: rgb(24, 3, 3);
    background-color: rgba(60, 57, 223, 0.7);
    border-radius: 40px;
}

h2, h3{
    display: flex;
    justify-content: center;
}

.messageLecteur{
    background-color: rgba(223, 59, 443, 0.2);
    border-radius: 40px;

}

.lesDefis  button{
    margin: 5px;
    transition-duration: 0.4s;
    border-radius: 50px;
    box-shadow: 1px 1px 1px black;
    }
    .lesDefis button:hover {
        background-color: #8f4726; 
        color: white;
      }